div.form {
    width: 40%;
    margin: 20px auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

div.form div {
    padding: 20px;
}

form {
    width: 100%;
}

form input,
label,
button {
    margin-bottom: 10px;
}